body{
    margin: 0;
}
.header{
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.header1{

    font-size:  0.8em;
    border-top: 1px solid rgb(255, 145, 0);
    background: linear-gradient( 180deg, rgb(240, 221, 197), rgb(249, 249, 249));
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   
}
.container{
   width: 60%;
   margin: 0 auto;
   
}
.photo{
    width: 100%;
    border-radius: 2%;
}
.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    
}
h1{
    width: 70%;
    padding: 1.5em;
    margin: 0 auto;
    text-align: center;
}
.description{
    text-align: center;
    opacity: 0.3;
}
.maiuscolo{
    color: brown;
    margin-top: 8%;
    margin-bottom: 0;
}
.link{
    margin-left: 0;
    padding-left: 5%;
    border-left: 1px solid rgb(255, 145, 0) ;
}
.link1{
    color: rgb(147, 191, 219);
}
h2{
    padding-top: 6%;
    padding-bottom: 4%;
    border-bottom: 1px solid  rgb(147, 191, 219);

}
.descriprion1{
    padding: 2em;
}
footer{
    width: 60%;
    margin: 0 auto;
}
.footer{
    color: rgb(96, 155, 133);
}